@media only screen and (min-width: 600px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav-logo {
    width: 12rem;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .project-lift-gif {
    margin-right: 3rem;
  }

  .project-baked-gif {
    margin-right: 3rem;
  }
}