@import "./styles/navbar.css";
@import "./styles/footer.css";
@import "./styles/about.css";
@import "./styles/contact.css";
@import "./styles/media-queries.css";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.parent-container {
  display: flex;
  flex-direction: column;
  margin: 5rem;
}

ul li {
  margin-left: -1rem;
  padding: 0.5rem;
  line-height: 1.25;
}

a:link {
  color: black;
}

a:hover {
  color: #EC6164;
}